#about {
    height: 60vh;
    min-height: 650px;
    width: 100%;
    transition: all 0.15s linear;
    /* margin: auto; */
}

.about-section {
    display : flex!important;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.about-content {
    padding-left: 0px;
    font-size: 28pt;
    font-weight: 700;
    line-height: 1.25;
    /* padding-right: 0px; */
    /* src: local('Roboto'), url(../fonts/Roboto-Black.ttf) format('ttf'); */
    /* font-family: CircularStd; */
}

.about-title {
    margin-bottom: .5rem;
    line-height: 1.20;
    /* color: black; */
    /* line-height: 1.1; */
    /* font-weight: 700; */
    /* font-size: 40px; */
}

.about-subtitle {
    font-size: 14pt;
    font-weight: 300;
    /* color:black; */
    margin-bottom: .5rem
}

.about-profile-pic {

  flex: 1;
  display: flex;
  width: 454px;
  height: 605px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding-right: 0px; */
  max-width: 100%;
  max-height: 100%;
  height: auto;
  float: right;
  /* position: absolute; */
  overflow: hidden;

}

.github-logo {
    max-width: 32px;
}

.github-logo:hover {
    cursor: pointer;
}

.linkedin-logo {
    margin-left: 15px;
    max-width: 36px;
}

.linkedin-logo:hover {
    cursor: pointer;
}