
.nav {
  height: 70px;
  padding: 0rem 0rem;

  /* Transition for Dark -> Light Mode, vice versa */
  transition: all 0.15s linear;
}

.navbar-logo:hover {
    color:black;
    cursor: pointer;
}
.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  /* display: inline; */
  /* margin-left: 2rem; */
  color: inherit !important;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.nav-item > .active {
  border-bottom: 1px solid;
}

.Link > .active {
  border-bottom: 1px solid;
}



